:root {
    --laranja: #F37520;
    --cinza-claro: #EDEDED;
    --cinza-escuro: #454545;
    --branco: #FFFFFF;
}

body {
   background-color:var(--branco);
}

img {
    width:100px !important;
}

.bg {
    background-color: var(--laranja);
}

.menu {
    height:35px !important;
}

.menu__item{
    color:var(--branco);
}

#list-container{
    background-color: var(--cinza-claro);
   
}

.list-container__item {
    color:var(--cinza-escuro) !important;
}

.rodape {
    background-color: var(--cinza-escuro);
    color:var(--branco);
}

@media (min-width: 576px) {
    main {
        height: calc(100vh - 300px);
        overflow: auto;
    }
    footer {
        min-height: 236px;
    }
}